<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-categorieComptable-create>
      </app-categorieComptable-create>
    </div>
    <div class="col-md-6">
      <app-categorieComptable-list>
      </app-categorieComptable-list>
    </div>
    <div class="col-md-6">
      <app-categoriedeclaration-create>
      </app-categoriedeclaration-create>
    </div>

    <div class="col-md-6">
      <app-categoriedeclaration-list>
      </app-categoriedeclaration-list>
    </div>



    <div class="col-md-6">
      <app-categoriesociete-create>
      </app-categoriesociete-create>
    </div>


    <div class="col-md-6">
      <app-categoriesociete-list>
      </app-categoriesociete-list>
    </div>

    <div class="col-md-6">
      <app-comptable-create>
      </app-comptable-create>
    </div>


    <div class="col-md-6">
      <app-comptable-list>
      </app-comptable-list>
    </div>


    <div class="col-md-6">
      <app-declarationfacture-create>
      </app-declarationfacture-create>
    </div>


    <div class="col-md-6">
      <app-declarationfacture-list>
      </app-declarationfacture-list>
    </div>


  </div>
</div>





